BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
NamespaceIndentation: None

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

ReflowComments: false
